OPENAI_API_KEY=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
OPENAI_API_BASE_URL=https://api.openai.com/v1/chat/completions